{{#each statuses as |value guild|}}
<div class="guild-row">
  <div class="guild-row__header">
    <strong>{{guild}}</strong>
    <form action="yojekku17" method="POST" onsubmit="return confirm('Haluatko todella paljastaa vihjeen killalle {{guild}}?? TÄTÄ EI VOI PERUA!');"=>
      <input type="hidden" name="gc" value="{{value.code}}"/>
      <button type="submit" class="btn btn-danger">
        <i class="icon-user icon-red"></i> Paljasta!
      </button>
    </form>
  </div>
  <div class="guild-row__answers">
    {{#each value.answers }}
    <div class="col-lg-2 col-md-2 col-xs-2">
      {{this.created}}
    </div>
    {{/each}}
  </div>
</div>
{{/each}}
