<input type="hidden" name="gc" value="{{gc}}"/>
<h1>Yöjäynä 2017</h1>
<h2>{{guild}}</h2>
<br>
<span class="final-clue">
  {{final_clue}}
</span>
<br>
<br>
<div class="clue">
  {{#if en}}
  Memorize the part of a chant below, and wait for all the teams to arrive.
  Step into the familiar age order from the youngest to oldest.
  The youngest team (you) shall begin the shout, and each team shall join on their own turn.
  {{else}}
  Painakaa sydämiinne alla oleva huudahduksen osa, ja kärsivällisesti kaikkia saapuviksi odottakaa.
  Astukaa tutuksi tulleeseen muodostelmaan maitohampaista tekohampaisiin ja suunnatkaa katseenne ulapalle päin.
  Tuoreimmat maitohampaat omaava joukkue aloittakoon, ja kukin joukkue vuorollaan sanansa ilmoille parkaiskoon.
  {{/if}}
  </div>
  <br>
<div class="shout">
  {{shout}}
</div>
