<form action="/" method="POST">
  <input id=gc type="hidden" name="gc" value="{{gc}}"/>
  <input id=guild type="hidden" name="guild" value="{{guild}}"/>
  <h1>Yöjäynä 2019</h1>
  <h2>{{guild}}</h2>
  <div class="countdown">
    <span id="timer-hours">:</span>
    <span id="timer-minutes">:</span>
    <span id="timer-seconds">:</span>
  </div>
  <br>
  <br>
  <span class="final-clue">
    {{final_clue}}
  </span>
  <br>
  <br>
  <br>
  <div class="code">
    <span>Syötä koodi:</span>
    <br>
    <input class="input" type="text" name="answer" required/>
    <input class="button" id="btn" type="submit" name="submit" value="Tarkista"/>
    <br>
    <span class="msg">
      {{msg}}
    </span>
  </div>
</form>
<script src="static/main.js"></script>
<script src="static/gps.js"></script>
