body {
  position: relative;
  background-image: url("bg.png");
  background-size: cover;
  font-family: 'Pirata One', cursive;
  text-align: center;
  font-size: 2em;
}

.container {
  padding: 1em;
}

h1 {
  font-size: 2em;
}

.countdown {
  font-size: 1.5em;
}

.guild-row {
  display: flex;
  justify-content: flex-start;
  padding-top: 1em;
  padding-bottom: 1em;
}

.guild-row:nth-child(2n) {
  background-color: rgba(255, 255, 255,0.4);
}

.guild_row__header {
  flex: 1;
}

.guild-row__answers {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.guild-row__item {
  flex: 1;
}

.final-clue {
  text-align: center;
  font-size: 1.3em;
  letter-spacing: 3px;
  word-wrap: break-word;
}

.input {
  height: 2rem;
  font-size: 2rem;
  background: transparent;
  border: none;
  border-bottom: 1px solid;
  border-color: white;
  color: black;
}

.input:focus {
  outline: none;
}

.button {
  color: black;
  background: transparent;
  padding: 1rem;
  font-size: 2rem;
}

.button:hover {
  background-color: rgba(0,0,0,0.2);
}
